@{
    ViewData["Title"] = "Contact";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">@ViewBag.Title.</h1>
        <p class="lead-text text-muted">@ViewBag.Message</p>
    </div>
</section>

<address>
    875 Shannon Rd.<br />
    Girard, OH 44420<br />
    <abbr title="Phone">P:</abbr>
    330.883.4560
</address>

<address>
    <strong>Support:</strong> <a href="mailto:LatvianVillageProductions@gmail.com">LatvianVillageProductions@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:LatvianVillageProductions@gmail.com">LatvianVillageProductions@gmail.com</a>
</address>