@model IEnumerable<SchoolMachine.UI.Telerik.AspNetCoreApp.Models.StudentViewModel>

@{
    ViewData["Title"] = "ViewStudents";
}

    <h1>ViewStudents</h1>

<p>
    <a asp-action="Create" class="k-button">Create New</a>
</p>
<div class="row">
    <div class="col-12">
        <kendo-grid name="grid" height="550">
            <columns>
                <column field="Id" title="Id">
                    <filterable enabled="false"></filterable>
                </column>
                <column field="LastName" title="LastName" />
                <column field="FirstName" title="FirstName" />
                <column field="MiddleName" title="MiddleName" />
                <column field="DateOfBirth" title="Birth Date" />
                @*<column field="Update" selectable="true" />
                <column field="Delete" selectable="true" />
                <column field="Schools" selectable="true" />*@
            </columns>
            <scrollable enabled="true" />
            <sortable enabled="true" />
            <pageable enabled="true" />
            <filterable enabled="true" />
            <datasource type="DataSourceTagHelperType.Ajax" page-size="20">
                <transport>
                    <read url="@Url.Action("Read", "Students")" />
                </transport>
            </datasource>
        </kendo-grid>
    </div>
</div>
<div>
    @(Html.Kendo().Grid<SchoolMachine.UI.Telerik.AspNetCoreApp.Models.StudentViewModel>()
    .Name("Grid")
    .Columns(columns => {
        columns.Bound(e => e.FirstName).Width(30).Title("First Name");
        columns.Bound(e => e.LastName).Width(30).Title("Last Name");
        columns.Bound(e => e.MiddleName).Width(20).Title("Middle Name");
        columns.Command(command => command.Custom("ViewDetails").Click("showDetails")).Width(180);
    })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .Read(read => read.Action("Read", "Students"))
     )
)
</div>
